{% extends "inutile/nouveau.html.twig" %}

{% block body %}
<h2>Bonjour tout le monde !</h2>
    
{% endblock %}

{% block title %}Bonjour{% endblock %}

{% block footer %}
    <p>le footer du fichier bonjour.html.twig</p>
{% endblock %}

{% block test %}
<mark> contenu du block test</mark>
{% endblock %}